<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Register New User</h1>

    <label><b>Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
    /><br />
    <label><b>Hobbie 1</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie1"
      id="hobbie1"
    /><br />

    <label><b>Hobbie 2</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie2"
      id="hobbie2"
    /><br />
    <label><b>Hobbie 3</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie3"
      id="hobbie3"
    /><br />
    <label><b>Hobbie 4</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie4"
      id="hobbie4"
    /><br />
    <label><b>Hobbie 5</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie5"
      id="hobbie5"
    /><br />
    <label><b>Hobbie 6</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie6"
      id="hobbie6"
    /><br />
    <label><b>Hobbie 7</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie7"
      id="hobbie7"
    /><br />
    <label><b>Hobbie 8</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="hobbie8"
      id="hobbie8"
    /><br /><br />
    <button type="button" style="margin-right: 6%">Register</button>
  </div>
</html>
